apiVersion: v1
kind: Pod 
metadata:
  name: pod-configmap
  labels:
    app: nginx
spec:
  containers:
  - name: app
    image: nginx
    ports:
      - containerPort: 80
      - containerPort: 443
    volumeMounts:
      - name: nginx-config-volume
        mountPath: /etc/nginx/nginx.conf
        subPath: nginx.conf
      - name: nginx-tls
        mountPath: /etc/nginx/tls
        readOnly: true
  volumes:
    - name: nginx-config-volume
      configMap:
        name: nginx-config
    - name: nginx-tls
      secret:
        secretName: meu-tls-secret
        items:
          - key: tls.crt
            path: certificado.crt
          - key: tls.key
            path: chave-privada.key
    